/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.jumbotron {
    padding: 10px 0;
}

.textright, .right {
    text-align: right;
}

.panel.blue {
    background-color: rgba(0, 0, 0, 0);
}

.panel.grey {
    background-color: rgba(0, 0, 0, 0.01);
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}
.panel-heading {
    background-color: rgba(189, 228, 242, 0.2);
}

.panel-heading hr{
    z-index: 2;
    margin: 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.rightblock {
    margin-left: 20%;
}

.leftblock {
    margin-right: 20%;
}